@import
	url('https://fonts.googleapis.com/css?family=Fahkwang|Nova+Flat|Staatliches')
	;

html {
	font-family: 'Arial', sans-serif;
	cursor: url('target.png'), auto;
}

h1 {
	font-size: 400%;
	font-family: 'Staatliches', cursive;
}

h2 {
	font-size: 400%;
	font-family: 'Staatliches', cursive;
	text-align: center;
}

header {
	background: #0080ff;
	padding: 1%;
	width: 99%;
	color: white;
	text-align: center;
}

fieldset {
	border: none;
	margin: 1%;
	padding: 1%;
	height: 200%;
}

button {
	text-align: center;
	width: 15%;
	padding: 2%;
	cursor: pointer;
	font-weight: bold;
	font-size: 150%;
	background: #3366cc;
	color: #fff;
	border: 1px solid #3366cc;
	border-radius: 10px;
	margin: 4%;
	margin-left: 45%;
}

button:hover {
	color: #ffffff;
	background: #1a3366;
}

input {
	color: #3366cc;
	width: 100%;
}

p {
    padding: 1%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 200px;
    text-align: center;
    background-color: #e6e6e6;
}

#retry, #button, #endscore, #name, #time {
    text-align: center;
    width: 15%;
    padding: 2%;
    cursor: pointer;
    font-weight: bold;
    font-size: 150%;
    background: #3366cc;
    color: #fff;
    border: 1px solid #3366cc;
    border-radius: 10px;
}

#endscore {
    text-align: center;
    width: 15%;
    padding: 2%;
    cursor: none;
    font-weight: bold;
    font-size: 150%;
    background: #3366cc;
    color: #ffffff;
    border-radius: 10px;
    margin: auto;
}

canvas {
	width: max-width;
	height: max-height;
}

/* @media screen and (min-width: 35em) { */
/* 	canvas { */
/* 		width: 10%; */
/* 	} */
/* 	@media screen and (min-width: 48em) { */
/* 		canvas { */
/* 			width: 10%; */
/* 		} */
/* 		@media screen and (min-width: 64em) { */
/* 			canvas { */
/* 				height: 10%; */
/* 				width: 10%; */
/* 			} */
/* 		} */
/* 	} */
/* } */