 /* Schriftart */
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

html {
	font-family: 'Press Start 2P', cursive;
	color: white;
}

/* Anpassung*/
canvas {
	width: 100%;
}

@media screen and (min-width: 35em) {
	canvas {
		width: 100%;
	}
	@media screen and (min-width: 48em) {
		canvas {
			width: 100%;
		}
		@media screen and (min-width: 64em) {
			canvas {
				width: 800px;
				height: 600px;
			}
		}
	}
}

/* Hintergrundbild */
#bg {
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
}

#deck {
	padding: 1%;
	margin: 1%;
	background-color: black;
	width: 70px;
	height: 120px;
	border: solid white;
	position: inherit;
	left: 5px;
	top: 5px;
	text-align: center;
	font-size: 90%;
}

#filed {
	padding: 1%;
	margin: 1%;
	background-color: black;
	width: 70px;
	height: 120px;
	border: solid white;
	position: absolute;
	right: 5px;
	top: 5px;
	text-align: center;
	font-size: 90%;
}

#handcards {
	width: 70px;
    height: 120px;
    bottom: 5px;
    border: none;
}

#instructions {
	width: 50%;
	text-align: center;
	padding: 1%;
	margin: 1%;
	background-color: #00ff40;
	font-size: 70%;
	position: fixed;
	left: 50%;
	top: 10%;
	transform: translate(-50%, -50%);
}

#button {
	display: inline-block;
	font-family: 'Press Start 2P', cursive;
	border-radius: 4px;
	background-color: #00ff40;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 100%;
	padding: 20px;
	width: 200px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	position: fixed;
	left: 50%;
	top: 35%;
	transform: translate(-50%, -50%);
}

.hand {
	text-align: center;
	width: 90%;
	height: 90%;
	font-size: 110%;
	padding: 1%;
	border: solid white;
	background: #00ff00;
}

.red {
	text-align: center;
	background: #F2071F;
	width: 70px;
	height: 130px;
	font-size: 110%;
	padding: 1%;
	border: solid white;
	height: 130px;
}

.blue {
	text-align: center;
	background: #2B07F6;
	width: 70px;
	height: 130px;
	font-size: 110%;
	padding: 1%;
	border: solid white;
	height: 130px;
}

.green {
	text-align: center;
	background: #6DF207;
	width: 70px;
	height: 130px;
	font-size: 110%;
	padding: 1%;
	border: solid white;
	height: 130px;
}

.yellow {
	text-align: center;
	background: #F2B407;
	width: 70px;
	height: 130px;
	font-size: 110%;
	padding: 1%;
	border: solid white;
	height: 130px;
}

.black {
	text-align: center;
	background: black;
	width: 70px;
	height: 130px;
	padding: 1%;
	font-size: 80%;
	border: solid white;
	height: 130px;
}