/* Schriftart */
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

html {
	font-family: 'Press Start 2P', cursive;
	color: white;
}

/* Anpassung*/
canvas {
	width: 100%;
}

@media screen and (min-width: 35em) {
	canvas {
		width: 100%;
	}
	@media screen and (min-width: 48em) {
		canvas {
			width: 100%;
		}
		@media screen and (min-width: 64em) {
			canvas {
				width: 800px;
				height: 600px;
			}
		}
	}
}

/* Hintergrundbild */
#bg {
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
}

#filed {
	text-align: center;
	margin-top: 50%;
	padding: 1%;
	margin: 1%;
	position: absolute;
	background-color: black;
	border: solid white;
	font-Size: 100%;
	left: +80%;
	width: 8%;
	height: 30%;
}

#Handcards {
	width: 90%;
	height: 35%;
	bottom: 20%;
	position: fixed;
	display: inline-table;
	bottom: 0%;
	margin: 1%;
}

#deck {
	text-align: center;
	margin-top: 50%;
	padding: 1%;
	margin: 1%;
	background-color: black;
	border: solid white;
	font-Size: 150%;
	width: 70px;
	height: 130px;
}

#instructions {
	width: 60%;
	height: 20%;
	text-align: center;
	padding: 1%;
	margin: 1%;
	background-color: #00ff40;
	font-size: 70%;
	position: fixed;
	left: 50%;
	top: 20%;
	transform: translate(-50%, -50%);
}

#button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

#button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#button:hover span {
  padding-right: 25px;
}

#button:hover span:after {
  opacity: 1;
  right: 0;
}

.hand {
	text-align: center;
	width: 90%;
	height: 90%;
	font-size: 150%;
	padding: 1%;
	border: solid white;
	background: #00ff00;
}

.red {
	text-align: center;
	background: #F2071F;
	width: 70px;
	height: 130px;
	font-size: 150%;
	padding: 1%;
	border: solid white;
	height: 130px;
}

.blue {
	text-align: center;
	background: #2B07F6;
	width: 70px;
	height: 130px;
	font-size: 150%;
	padding: 1%;
	border: solid white;
	height: 130px;
}

.green {
	text-align: center;
	background: #6DF207;
	width: 70px;
	height: 130px;
	font-size: 150%;
	padding: 1%;
	border: solid white;
	height: 130px;
}

.yellow {
	text-align: center;
	background: #F2B407;
	width: 70px;
	height: 130px;
	font-size: 150%;
	padding: 1%;
	border: solid white;
	height: 130px;
}

.black {
	text-align: center;
	background: black;
	width: 70px;
	height: 130px;
	padding: 1%;
	font-size: 150%;
	border: solid white;
	height: 130px;
}